
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://static.dezeen.com/uploads/2019/03/central-european-university-budapest-o-donnell-tuomey_dezeen_2364_col_2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}